<div class="ui grid">

  <div class="column">
    <div class="ui message">
      <h1><%= @plugin.name %> 詳細情報</h1>
    </div>
  </div>

</div><!-- grid -->

<div class="ui grid">

  <div class="six wide column">
    <%= render partial: 'shared/latest_versions',
      locals: { release_feeds: @release_feeds, plugin: @plugin } %>

    <div class="ui segment">
      <h2><i class="external icon"></i>外部リンク</h2>
      <%= link_to @plugin.homepage_uri || "#{Settings.feeds.rubygem}#{@plugin.name}", class: "", target: '_blank' do %>
        <i class="external icon"></i>公式ホームページ
      <% end %>
    </div>

  </div>

  <div class="ten wide column">

    <div class="ui segment red">
      <h2><i class="warning sign icon red"></i>脆弱性情報履歴</h2>

      <div class="ui relaxed list">
        <% if @vulnerable_securities.empty? %>
          脆弱性情報は1件もありません。
        <% end %>
        <% @vulnerable_securities.each do |topic| %>
          <%= render partial: '/versions/security', locals: { topic: topic } %>
        <% end %>
      </div>

    </div>

  </div>


</div><!-- grid -->

