

<div class="ui segment">
  <h2><i class="rss square icon"></i>VERSION HISTORY</h2>
  <div class="ui relaxed list">
    <% release_feeds.each do |entry| %>
      <div class="item">
        <i class="diamond red icon"></i>
        <div class="content">
          <span class="header">
            <%= link_to(entry.version,
                        plugin_version_path(plugin_id: plugin.id, id: entry.id)
                       )
            %>
          </span>
          <div class="description"><%= l entry.published %></div>
        </div>
      </div>
    <% end %>
    <div style='text-align:right'><%= link_to '>> all versions', plugin_versions_path(@plugin) %></div>
  </div>
</div>


