<h2 class="ui header">
  <%= @project.name %> プロジェクト設定情報の確認・変更
  <div class="sub header">
    プロジェクトを編集できます。(Gemfileがないプロジェクトのみ)
    GemにおいてGitLabと同期していないので注意。
  </div>
</h2>
<br />

<%= render 'form' %>