<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<table>
<tr>
<th>Name</th>
<th>GitLab ID</th>
<th>Gemfile</th>
</tr>
<tbody>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.gitlab_id %></td>
    <td><%= link_to 'Gemfile', project_path(project.id) if project.has_gemfile? %></td>
  </tr>
<% end %>
</tbody>
</table>