<div class="ui blue inverted large menu fixed">
  <%= link_to 'Solution Development Group', root_path, class: 'item' %>

  <div class="left menu">
    <%= link_to 'Projects', projects_path, class: 'item' %>
    <%= link_to 'Log', cron_logs_path, class: 'item' %>

  </div>
</div>